In [8]:
import pandas as pd

In [10]:
import os
csvpath = os.path.join('Resources', 'budget_data.csv')
df1 = pd.read_csv(csvpath)
df1.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [11]:
month = print(len(df1["Date"]))

86

In [12]:
sum1 = df1["Profit/Losses"].sum()

38382578

NameError: name 'row' is not defined